/* .is-220x220 {
  height: 220px;
  width: 220px;
}

.custom-footer {
  position: absolute;
  bottom: 0px;
  left: 128px;
  padding-left: 10px;
  padding-right: 10px;
}

audio {
  width: 380px;
}

@media only screen and (min-width: 1px) and (max-width: 768px) {
  audio {
    width: 320px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1215px) {
  audio {
    width: 320px;
  }
} */

/* NEW */
