.profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.dropdown__item {
  padding: 1rem 0;
  background-color: var(--color-secondary);
  width: 100%;
  list-style-type: none;
}

.dropdown--1,
.dropdown--2 {
  position: relative;
}

.dropdown__content--1,
.dropdown__content--2 {
  margin-top: 1rem;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.dropdown--1:hover .dropdown__content--1,
.dropdown--2:hover .dropdown__content--2 {
  display: block;
}

.dropdown__item:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

a {
  color: var(--color-grey-dark-1);
  font-weight: 400;
  text-decoration: none;
}
