<section class="frontpage">
    <div class="frontpage__wrapper">
        <h3 class="heading-1 frontpage__heading">Cześć!</h3>
        <p class="frontpage__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem, amet voluptatem.
            Quia
            repellat odit dolor ducimus, fugit ex quibusdam nesciunt. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Quod sint odio iusto, laborum ipsam repellendus mollitia, illo ex, deleniti cumque facilis rerum
            aliquid
            repudiandae iure sed at tempore quidem minima.</p>
    </div>
</section>