.frontpage {
  background-image: linear-gradient(
      to right,
      rgba(111, 45, 189, 0.8),
      rgba(178, 152, 220, 0.8)
    );
  background-size: cover;
  height: 100vh;

  position: relative;
}

.frontpage__wrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frontpage__heading {
  padding: 0 1.5rem;
  letter-spacing: 0.8rem;
  text-align: center;
}

.frontpage__text {
  font-size: 1.4rem;
  color: var(--color-grey-light-2);
  max-width: 60rem;
  padding: 0 1.5rem;
}
