<header class="photo position-relative">
    <div class="container h-100 text-center">
        <span class="d-inline-block p-5 text-warning font-weight-bold heading">U-APP</span>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center p-3">
                <span class="display-1">🎧</span>
                <p class="fs-2 text-light">Sprawdź ostatnio słuchane utwory!</p>
            </div>
            <div class="col-md-3 text-center p-3">
                <span class="display-1">🎶</span>
                <p class="fs-2 text-light">Sprawdź swoich ulubionych wykonawców i utwory w różnych okresach!</p>
            </div>
            <div class="col-md-3 text-center p-3">
                <span class="display-1">🆚</span>
                <p class="fs-2 text-light">Porównaj swoje gusta z innymi użytkownikami!</p>
            </div>
            <div class="col-md-3 text-center p-3">
                <span class="display-1">📀</span>
                <p class="fs-2 text-light">Generuj rekomendacje muzyczne i odkrywaj nowych twórców!</p>
            </div>
        </div>
    </div>
</section>