<!-- <section class="hero is-success mb-3">
    <div class="hero-body">
        <div class="container center" style="flex-direction: column;">
            <h2 class="subtitle">
                Zapisz swoje dane, aby porówać swój gust muzyczny z innymi użytkownikami!
            </h2>
            <button class="button is-primary" (click)="onSaveData()">Zapisz / Zaktualizuj dane</button>
            <h2 class="subtitle mt-4">Udostępnij swój link: {{user.id}}</h2>
        </div>
    </div>
</section> -->

<!-- NEW -->