/* You can add global styles to this file, and also import other style files */
/* https://coolors.co/6f2dbd-a663cc-b298dc-b8d0eb-b9faf8 */

/* NEW */
:root {
  --color-primary: #a663cc;
  --color-primary-light: #b298dc;
  --color-primary-dark: #6f2dbd;

  --color-secondary: #b9faf8;
  --color-tertiary: #b8d0eb;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-black: #000;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* font-size: 55%; */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  min-height: 99.99999vh;
  font-size: 1.4rem;

  /* background-image: linear-gradient(
    to right,
    rgba(111, 45, 189, 0.8),
    rgba(178, 152, 220, 0.8)
  ); */
  background-color: #111111 ;
}

section::before {
  content: "";
  display: block;
  height: 4vh;
}

.button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  cursor: pointer;
  color: #000;
  font-size: 1.4rem;
}

.heading-4 {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--color-grey-dark-2);
  text-transform: uppercase;
}

.heading-3 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-grey-dark-2);
  text-transform: uppercase;
}

.heading-2 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--color-grey-light-2);
  /* color: var(--color-black); */
}

.heading-1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--color-grey-light-2);
  /* color: var(--color-black); */
  text-transform: uppercase;
}

.container {
  display: block;
  /* max-width: 1200px; */
  max-width: 90%;
  margin: 0 auto;
}

.center {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex; 
  flex-wrap: wrap;
  gap: 2rem;
}

.center-self {
  align-self: center;
}

/* PROFILE & COMPARE CSS */
.profile__photo {
  display: block;
  width: 14rem;
  height: 14rem;
}

.profile__photo--border-1 {
  padding: 1rem;
  border: 5px solid var(--color-secondary);
  border-radius: 50%;
}

.profile__photo--border-2 {
  padding: 1rem;
  border: 5px solid var(--color-primary-dark);
  border-radius: 50%;
}

.nav {
  margin-top: 2rem;
}

.nav__content {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
}

.nav__item {
  width: 15rem;
  padding: 1rem 0;
  margin-right: 1rem;
  background-color: var(--color-secondary);
  text-align: center;

  font-size: 1.6rem;
}

.nav__item:hover{
cursor: pointer;
background-color: var(--color-tertiary);
}

.is-active {
  background-color: var(--color-tertiary);
}

.is-active--header {
  color: var(--color-grey-dark-3);
}
