<!-- <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-4 has-text-link" routerLink="/">
            🎵 <strong>FavMusic</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample" #navBurger (click)="toggleMenu()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item" *ngIf="!isLoggedIn">
                <a class="button is-primary" routerLink="/auth">
                    <strong>Zaloguj się</strong>
                </a>
            </div>
            <a routerLink="/me" class="navbar-item" *ngIf="isLoggedIn">Mój profil</a>
            <div class="navbar-item" *ngIf="isLoggedIn">
                <a class="button is-danger" (click)="onLogout()">
                    <strong>Wyloguj się</strong>
                </a>
            </div>
        </div>
    </div>
</nav> -->

<!-- NEW -->
<nav class="navbar">
    <div class="navbar__start">
        <a class="logo navbar__item" routerLink="/">
            🎵
        </a>
        <a routerLink="/recommendations" routerLinkActive="is-active--header" class="navbar__item navbar__start--link"
            *ngIf="isLoggedIn">
            <strong>Rekomendacje</strong>
        </a>
        <div class="search__box" *ngIf="isLoggedIn">
            <input class="search__input" type="text" [(ngModel)]="compareWith" (keydown.enter)="onSearch()"
                placeholder="Porównaj gusta z ...">
            <button class="search__button" (click)="onSearch()">🔎</button>
        </div>
    </div>

    <div class="navbar__end">
        <a routerLink="/me" class="navbar__item" *ngIf="isLoggedIn">
            <img [src]="photo" alt="" class="navbar__item--profile">
        </a>
        <div class="navbar__item" *ngIf="!isLoggedIn">
            <button class="button button--login" routerLink="/auth">
                <strong>Zaloguj się</strong>
            </button>
        </div>
        <div class="navbar__item" *ngIf="isLoggedIn">
            <button class="button button--logout" (click)="onLogout()">
                <strong>Wyloguj się</strong>
            </button>
        </div>
    </div>
</nav>