<nav class="navbar">
    <div class="navbar__start">
        <a class="logo navbar__item" routerLink="/">
            🎵
        </a>
        <a routerLink="/recommendations" routerLinkActive="is-active--header" class="navbar__item navbar__start--link"
            *ngIf="isLoggedIn">
            <strong>Rekomendacje</strong>
        </a>
        <div class="search__box" *ngIf="isLoggedIn">
            <input class="search__input" type="text" [(ngModel)]="compareWith" (keydown.enter)="onSearch()"
                placeholder="Porównaj gusta z ...">
            <button class="search__button" (click)="onSearch()">🔎</button>
        </div>
    </div>

    <div class="navbar__end">
        <a routerLink="/me" class="navbar__item" *ngIf="isLoggedIn">
            <img [src]="photo" alt="" class="navbar__item--profile">
        </a>
        <div class="navbar__item" *ngIf="!isLoggedIn">
            <button class="button button--login" routerLink="/auth">
                <strong>Zaloguj się</strong>
            </button>
        </div>
        <div class="navbar__item" *ngIf="isLoggedIn">
            <button class="button button--logout" (click)="onLogout()">
                <strong>Wyloguj się</strong>
            </button>
        </div>
    </div>
</nav>