.navbar {
  /* height: 8vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #2b2b2b;
}

.logo {
  font-size: 2rem;
  /* padding: 0 1rem; */
  text-decoration: none;
  color: var(--color-grey-light-1);

  /* position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 20; */
}

.navbar__start {
  padding: 0 1rem;

  display: flex;
  align-items: center;
  align-self: flex-start;

  font-size: 1.5rem;

  /* position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 20; */
}

.navbar__start--link {
  color: var(--color-grey-light-1);
  font-weight: 400;
  text-decoration: none;
}

.navbar__end {
  /* margin-top: 1rem; */
  padding: 0 1rem;

  display: flex;
  align-items: center;

  /* position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 20; */
}

.navbar__item:not(:last-child) {
  margin-right: 1rem;
}

.navbar__item--profile {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.button--login {
  background-color: var(--color-secondary);
  transition: background-color 0.5s ease;
}

.button--login:hover {
  background-color: var(--color-tertiary);
}

.button--logout {
  background-color: #bf0603;
  color: var(--color-grey-light-1);
  transition: background-color 0.5s ease;
}

.button--logout:hover {
  background-color: #f10804;
}

.search__box {
  background: var(--color-grey-light-2);
  height: 3rem;
  /* width: 30rem; */
  padding: 1rem;
  border-radius: 40px;

  display: flex;
  align-items: center;
}

.search__input {
  border: none;
  background: none;
  outline: none;
  width: 90%;
  /* padding: 0 6px; */
  font-size: 1.4rem;
}

.search__button {
  width: 10%;
  background: transparent;
  border: none;
  font-size: 1.4rem;
  margin-right: 6px;
  transition: font-size 0.1s;
}

.search__button:hover {
  cursor: pointer;
  font-size: 2rem;
}
